<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Junior de Barranquilla, comúnmente conocido como "El Junior", es uno de los clubes de fútbol más icónicos de Colombia. Reconocido por su apasionada afición y su rica historia, el Junior se ha convertido en un símbolo de orgullo para la ciudad costera de Barranquilla.</p>
                <p>Fumar marihuana también puede afectar negativamente la salud física. Al igual que el tabaco, el humo de la marihuana contiene toxinas que pueden dañar los pulmones y el sistema respiratorio. Los consumidores regulares pueden experimentar problemas respiratorios similares a los de los fumadores de tabaco, como tos crónica y bronquitis.</p>
                <p>Es crucial promover la educación y la concienciación sobre los riesgos del consumo de marihuana, especialmente en los jóvenes. La decisión de no consumirla es vital para proteger la salud mental y física, y prevenir la adicción, que afecta especialmente a quienes comienzan a consumirla en la adolescencia.</p>

            </div>
        </div>
    </div>
</main>